#game_area{
    height: max(33vw, 240px);
    width: max(38.5vw, 280px);
    margin-left: auto;
    margin-right: auto;
    margin-top: max(10vw, 80px);
    margin-bottom: auto;
    z-index: 0;
}

table#game{
    height: 100%;
    width: 100%;
    background-color: #0002F8;
    border-collapse: collapse;
    padding: 1vw;
    border-radius: 4%;
}

table#game > tbody > tr, table#game > tbody > tr > td{
    width: auto;
    height: auto;
    text-align: center;
}

table#game > tbody > tr > td > img{
    width: 100%;
    height: auto;
}

.popup .overlay{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 50%;
    height: 50%;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
}

.popup .content > div.title{
    height: 10%;
    padding-top: 0;
}

.popup .content > div.title > p{
    width: 50%;
    padding-inline: 20%;
    margin-top: 2%;
}

.popup .content > div.title > button.close{
    /* float: right; */
}

.popup .content > button.restart{
    height: 10%;
    width: 20%;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}